/* section-one */

.header {
    background-image: url(/assest/imgagine/banner-bg.png);
    margin-top:0;
    object-fit: cover;
    background-position: 50%;
}
.header .section-one {
    position: fixed;
    top:10px;
    z-index:999;
    left:40px;
    width:100%;


}

.section-one .section-one-container {
    display: flex;
    padding: 20px;
    border-radius: 80px;
    background:var(--color-text-two);
    -moz-box-shadow: 3px 3px 5px 0px #e5e3e3;
    -webkit-box-shadow: 3px 3px 5px 0px  #e5e3e3;
    box-shadow: 3px 3px 5px 0px  #e5e3e3;
   
    -moz-box-shadow: inset 0 0 10px  #e5e3e3;
    -webkit-box-shadow: inset 0 0 10px #e5e3e3;
    box-shadow: inset 0 0 10px  #e5e3e3;
   
}
.section-one .section-one-container .section-one-logo{
    margin: 10px 20px;
}

.section-one .section-one-container ul { 
    text-decoration-line: none;
    display: flex;
    margin: 10px 20px;
    margin-left: 30px;
    margin-right:10px;
}
.section-one .section-one-container ul li{
    list-style-type: none;
    margin: 0 30px;
}
.section-one .section-one-container ul li:hover{
    color:var(--color-two);
}
.section-one .section-one-container ul .section-one-home {
    color:var(--color-two);
    font-size: 15px;
}
.section-one .section-one-container ul .section-one-content {
   color: var(--color-text-one);
    font-size: 15px;
}


.section-one .section-one-container .section-one-item{
    font-size: 30px;
    display: none;
}

@media (max-width:1092px) {
    .section-one .section-one-container {
        position:relative;
    }
    .section-one .section-one-container ul {
        display:none;
    } 
    .section-one .section-one-container .section-one-item {
        display:inline-block;
        position: absolute;
        top: 23px;
        width: 32px;
        right: 20px;
    }

    @media (max-width: 832px) {
        .header .section-one {
            left:auto;
            width:100%;
        }
    }
    
}

/* section-two */

.section-two{ 
    position:relative;
    
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}


.section-two .section-two-content  {
    position:absolute;
    top: 30%;
    right:30%;
    width: 40%;
    text-align:center;
}
.section-two .section-two-content  h2{
    color:var(--color-text-two);
    font-weight:500;
    font-size:30px;
    text-align:center;
    margin-bottom:20px;
}

.section-two .section-two-content  p{
    color:var(--color-text-two);
}

.section-two .section-two-content .section-two-box {
    padding:10px;
    width: 200px;
    height:50px;
    background-color:var(--color-two);
    border-radius:100px;
    position:relative;
    margin:auto;
}
.section-two .section-two-content .section-two-box p{
    position:absolute;
    top:10px;
    left:30px;
}

/* section-three */

.section-three {
    margin-top: -223px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.section-three .section-three-container {
    display: flex;
    flex-wrap: wrap;
}

.section-three .section-three-container .section-three-box{
    padding:20px;
    -moz-box-shadow: 3px 3px 5px 0px #F2F2F2;
    -webkit-box-shadow: 3px 3px 5px 0px #F2F2F2;
    box-shadow: 3px 3px 5px 0px #F2F2F2;
    border-radius:20px;
    -moz-box-shadow: inset 0 0 10px #F2F2F2;
    -webkit-box-shadow: inset 0 0 10px #F2F2F2;
    box-shadow: inset 0 0 10px #F2F2F2;
    margin: 20px;
    background-color: var(--color-text-two);
}

.section-three .section-three-container .section-three-box .section-three-item {
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-three .section-three-container .section-three-box .section-three-item .section-three-ima{
    border-radius: 50%;
    width:80px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-one);
    
}
.section-three .section-three-container .section-three-box .section-three-item .section-three-ima img{
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-three .section-three-container .section-three-box .section-three-content {
    text-align: center;
   
}
.section-three .section-three-container .section-three-box .section-three-content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}

.section-three .section-three-container .section-three-box .section-three-content p {
    text-align: center;
    margin:auto;
    font-size: 15px;
    padding: 10px;
    color: var(--color-text-three);

}

@media (max-width : 990px) {
    .section-three {
        margin-top: 20px;
       
    }
}

/* section four  */
.section-four {
    margin-top: 20px;
    position:relative;
   
}

.section-four .section-four-container{
   
    flex-wrap: wrap;
}
.section-four .section-four-container .section-four-content-one {
    display:flex;
    padding-top:50px;
    padding-bottom:50px;
}
.section-four .section-four-container .section-four-content-one .section-four-img-one{
   display: flex;
   justify-content: center;
   align-items: center;
}

.section-four .section-four-container .section-four-content-one .section-four-img-one img{
    object-fit:cover;
}
.section-four .section-four-container .section-four-content-one  .section-four-title{
    margin: 0 15px;
    padding: 20px 0;
}

.section-four .section-four-container .section-four-content-one  .section-four-title h2 {
    padding-bottom:20px;
    font-size:  25px;
}

.section-four .section-four-container .section-four-content-one  .section-four-title p{
    width:500px;
    color: var(--color-text-three);
    font-size:20px;
    
}

@media (max-width:960px) {

    .section-four .section-four-container .section-four-content-one  .section-four-title h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-four .section-four-container .section-four-content-one  .section-four-title p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* section-five */

.section-five {
    margin: 20px 0;
    background-image: url(/assest/imgagine/work-process-bg.png);
    object-fit: cover;
    background-size: cover;
}

.section-five .section-five-container .section-five-content {
    padding:50px 0px;
    text-align: center;
}

.section-five .section-five-container .section-five-content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--color-text-two);
    padding-bottom:20px;
}

.section-five .section-five-container .section-five-content p {
    margin:auto;
    color:var(--color-text-two);
    width: 600px;
    text-align: center;
}

.section-five .section-five-container .section-five-item {
    padding: 30px 0;
    display:flex;
    flex-wrap: wrap;
    position: relative;
}

.section-five .section-five-container .section-five-item .section-five-box{
    display:flex;
    flex-direction: column;
    margin: 20px 10px;
    background-color:var(--color-text-two);
    border-radius:20px;
    padding:20px;
    position: relative;
    z-index:2;
}

.section-five .section-five-container .section-five-item .section-five-box::after{
    content: '';
    position: absolute;
    z-index: -1;
    background-color :var(--color-text-two);
    width: 100%;
    opacity:0.3;
    height: 100%;
    bottom: -10px;
    left: 0px;
    right: -20px;
    margin: auto;
    border-radius: 20px;
}


.section-five .section-five-container .section-five-item .section-five-box .section-five-icon{
    text-align: center;
    padding-bottom:20px;
}

.section-five .section-five-container .section-five-item .section-five-box .section-five-icon i{
    color: var(--color-one);
    font-size:50px;
}

.section-five .section-five-container .section-five-item .section-five-box .section-five-title{
    margin-bottom:10px;
}

.section-five .section-five-container .section-five-item .section-five-box .section-five-title h2 {
    font-size:20px;
    font-weight:400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-five .section-five-container .section-five-item .section-five-box .section-five-title p {
    font-size:15px;
    font-weight:400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:var(--color-text-three);
}


/* section-six */
.section-six{
    padding: 50px 0;
}

.section-six .section-six-container {
    padding: 50px 0;
}

.section-six .section-six-container .section-six-content{
    padding:50px 0px;
    text-align: center;
}

.section-six .section-six-container .section-six-content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--color-text-one);
    padding-bottom:20px;
}

.section-six .section-six-container .section-six-content p {
    margin:auto;
    color:var(--color-text-three);
    width: 600px;
    text-align: center;
}

.section-six .section-six-container .section-six-item {
    display:flex;
    flex-wrap:wrap;
    padding:20px 0;
}

.section-six .section-six-container .section-six-item .section-six-box{
    margin:20px;
    padding:20px;
    -moz-box-shadow: 3px 3px 5px 0px #F2F2F2;
    -webkit-box-shadow: 3px 3px 5px 0px #F2F2F2;
    box-shadow: 3px 3px 5px 0px #F2F2F2;
    border-radius:20px;
    -moz-box-shadow: inset 0 0 10px #F2F2F2;
    -webkit-box-shadow: inset 0 0 10px #F2F2F2;
    box-shadow: inset 0 0 10px #F2F2F2;
    
}

.section-six .section-six-container .section-six-item .section-six-box .section-six-icon{
    text-align: center;
    padding:20px;
}

.section-six .section-six-container .section-six-item .section-six-box .section-six-icon i{
    font-size:50px;
    color:var(--color-one);
}

.section-six .section-six-container .section-six-item .section-six-box .section-six-title{
    padding:10px 0;
}

.section-six .section-six-container .section-six-item .section-six-box .section-six-title p{
    color:var(--color-text-three);
}

.section-six .section-six-container .section-six-item .section-six-box .section-six-info{
    display:flex;
}

.section-six .section-six-container .section-six-item .section-six-box .section-six-info img{
    border-radius:50%;
    object-fit:cover;
    width:110px;
    height:80px;
    padding:0 20px;
}

.section-six .section-six-container .section-six-item .section-six-box .section-six-info h2{
    font-weight:400;
    font-size:20px;
    text-align: center;
}

.section-six .section-six-container .section-six-item .section-six-box .section-six-info p{
    color:var(--color-two);
    font-size:15px;
    text-align: center;
}


/* section-seven */

.section-seven{
    background:var(--color-three);
    padding:70px 0;
}

.section-seven .section-seven-container{
    padding: 50px 0;
}

.section-seven .section-seven-container .section-seven-content{
    padding: 50px 0;
    text-align: center;
}

.section-seven .section-seven-container .section-seven-content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--color-text-one);
    padding-bottom:20px;
}

.section-seven .section-seven-container .section-seven-content p {
    margin:auto;
    color:var(--color-text-three);
    width: 600px;
    text-align: center;
}


.section-seven .section-seven-container .section-seven-item {
    display:flex;
    flex-wrap:wrap;
    padding:20px 0;
}

.section-seven .section-seven-container .section-seven-item .section-seven-box{
    margin:20px;
    padding:20px;
    -moz-box-shadow: 3px 3px 5px 0px #F2F2F2;
    -webkit-box-shadow: 3px 3px 5px 0px #F2F2F2;
    box-shadow: 3px 3px 5px 0px #F2F2F2;
    border-radius:20px;
    -moz-box-shadow: inset 0 0 10px #F2F2F2;
    -webkit-box-shadow: inset 0 0 10px #F2F2F2;
    box-shadow: inset 0 0 10px #F2F2F2;
    background-color:var(--color-text-two);
}

.section-seven .section-seven-container .section-seven-item .section-seven-box h2{
    text-align: center;
    font-size:20px;
    padding:20px 0px;
}

.section-seven .section-seven-container .section-seven-item .section-seven-box .section-seven-bill{
    background:var(--color-one);
    border-radius:20px;
    text-align: center;
    margin:10px 20px;
}

.section-seven .section-seven-container .section-seven-item .section-seven-box .section-seven-bill .section-seven-cost{
    font-size: 30px;
    margin:0;
    padding:10px 0;
    padding-bottom:5px;
    color:var(--color-text-two);
}

.section-seven .section-seven-container .section-seven-item .section-seven-box .section-seven-bill p{
    font-size: 20px;
    padding:10px 0;
    padding-top:5px;
    color:var(--color-text-two);
}

.section-seven .section-seven-container .section-seven-item .section-seven-box ul{
    list-style-type: none;
    text-align: center;
}

.section-seven .section-seven-container .section-seven-item .section-seven-box ul li{
    padding: 10px 0px;
    color:var(--color-text-three);
}

.section-seven .section-seven-container .section-seven-item .section-seven-box .section-seven-pay{
    text-align: center;
    padding: 10px 5px;
    background-color:var(--color-one);
    border-radius: 30px; 
    width:160px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-seven .section-seven-container .section-seven-item .section-seven-box .section-seven-pay p{
    color:var(--color-text-two);
    width:160px;
    font-size:13px;
}

.section-seven .section-seven-container .section-seven-item .section-seven-box .section-seven-pay:hover{
    background-color:var(--color-two);
}


/* section-eight  */

.section-eight{
    background-image:url(/assest/imgagine/banner-bg.png);
    padding:40px 0;
    object-fit:cover;
    
}

.section-eight .section-eight-container .section-eight-item{
    display:flex;
    flex-wrap:wrap;
    padding:20px 0px;
    text-align: center;
}

.section-eight .section-eight-container .section-eight-item .section-eight-box{
    position:relative;
}

.section-eight .section-eight-container .section-eight-item .section-eight-box::after{
    content:"";
    background-image: url(/assest/imgagine/circle-dec.png);
    position: absolute;
    width: 22%;
    height: 18px;
    top: 17px;
    left: 85%;
    object-fit: cover;
    height: 18px;
    margin:auto;
   
}

.section-eight .section-eight-container .section-eight-item .section-eight-box h2{
    color:var(--color-text-two);
    font-weight:600;
    padding:10px 0;
}

.section-eight .section-eight-container .section-eight-item .section-eight-box p{
    color:var(--color-text-two);
   
    
}

.section-eight .section-eight-container .section-eight-item .section-eight-box-last h2{
    color:var(--color-text-two);
    font-weight:600;
    padding:10px 0;
}

.section-eight .section-eight-container .section-eight-item .section-eight-box-last p{
    color:var(--color-text-two);
    font-size:25px;
   
    
}

@media (max-width:920px){
    .section-eight .section-eight-container .section-eight-item .section-eight-box::after{
        display:none;
    }
}


/* section-nine */ 
.section-nine{
    padding:50px 0;
}

.section-nine .section-nine-container{
    padding:30px 0;
}

.section-nine .section-nine-container .section-nine-content{
    padding: 30px 0;

}

.section-nine .section-nine-container .section-nine-content h2{
    text-align: center;
    font-weight:400;
}

.section-nine .section-nine-container .section-nine-content p{
    text-align: center;
    color: var(--color-text-three);
    width: 55%;
    margin:auto;
    padding: 20px 0;
}

.section-nine .section-nine-container .section-nine-item {
    display: flex;
    flex-wrap:wrap;
    padding: 20px 0;
    text-align: center;

}

.section-nine .section-nine-container .section-nine-item .section-nine-box{
    padding:20px ;
}

.section-nine .section-nine-container .section-nine-item .section-nine-box .section-nine-img{
    padding: 20px 0;
}

.section-nine .section-nine-container .section-nine-item .section-nine-box .section-nine-img img{
      object-fit:cover;
}

.section-nine .section-nine-container .section-nine-item .section-nine-box .section-nine-title{
    padding: 10px 0;
}

.section-nine .section-nine-container .section-nine-item .section-nine-box .section-nine-title h2{
    font-size:20px;
}

.section-nine .section-nine-container .section-nine-item .section-nine-box .section-nine-title h2:hover{
    color:var(--color-two);
}

.section-nine .section-nine-container .section-nine-item .section-nine-box .section-nine-title p{
   color:var(--color-text-three);
}

.section-nine .section-nine-container .section-nine-item .section-nine-box .section-nine-button{
    background-color:var(--color-one);
    height:50px;
    border-radius: 40px;
    width: 180px;
    margin:auto;
    position:relative
}

.section-nine .section-nine-container .section-nine-item .section-nine-box .section-nine-button:hover{
    background-color:var(--color-two);

}

.section-nine .section-nine-container .section-nine-item .section-nine-box .section-nine-button span{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:25%;
    left:23%;
    color: var(--color-text-two);
}


/* section-ten */

.section-ten{
    padding:80px 0;
    background-color:var(--color-three);
}

.section-ten .section-ten-container{
    padding: 50px;
}

.section-ten .section-ten-container .section-ten-content{
    padding:30px 0;
}


.section-ten .section-ten-container .section-ten-content h2{
    text-align: center;
    font-weight:300;
}

.section-ten .section-ten-container .section-ten-content p{
    text-align: center;
    color: var(--color-text-three);
    width: 45%;
    margin:auto;
    padding: 20px 0;
}

.section-ten .section-ten-container .section-ten-item{
    display:flex;
    flex-wrap:wrap;
    margin:auto;
    padding: 10px 0;
}

.section-ten .section-ten-container .section-ten-item .section-ten-title{
    flex-direction: row;
    padding-right:10px;
}

.section-ten .section-ten-container .section-ten-item .section-ten-title h2{
    font-size: 20px;
    margin-bottom:30px;
}

.section-ten .section-ten-container .section-ten-item .section-ten-title p{
    color: var(--color-text-three);
    margin-bottom:30px;
    width: 70%;
    
}

.section-ten .section-ten-container .section-ten-item .section-ten-form{
    padding: 20px 0;
}

.section-ten .section-ten-container .section-ten-item .section-ten-form .section-ten-infor {
    display:flex;
    flex-wrap:wrap;
    padding-bottom:20px;

}

.section-ten .section-ten-container .section-ten-item .section-ten-form .section-ten-infor form{
    padding: 10px 20px;
}

.section-ten .section-ten-container .section-ten-item .section-ten-form .section-ten-infor form input{
    color: var(--color-text-three);
    font-size: 14px;
    border: 1px solid var(--color-text-two);
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
  
}

.section-ten .section-ten-container .section-ten-item .section-ten-form form {
    padding: 10px 20px;
}

.section-ten .section-ten-container .section-ten-item .section-ten-form form input{
    color: var(--color-text-three);
    font-size: 14px;
    border: 1px solid var(--color-text-two);
    width: 100%;
    height: 200px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
}

.section-ten .section-ten-container .section-ten-item .section-ten-button{
    background-color:var(--color-one);
    height:50px;
    border-radius: 40px;
    width: 180px;
    margin:auto;
    position:relative
}

.section-ten .section-ten-container .section-ten-item .section-ten-button:hover{
    background-color:var(--color-two);

}

.section-ten .section-ten-container .section-ten-item .section-ten-button span{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:25%;
    left:20%;
    color: var(--color-text-two);
}

@media (max-width: 920px) {
    .section-ten .section-ten-container .section-ten-item .section-ten-title{
        text-align:center;
    }

    .section-ten .section-ten-container .section-ten-item .section-ten-title p {
        text-align:center;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

/* section-eleven */

.section-eleven {
    background-color:var(--color-four);
    padding: 20px 0;
    
}

.section-eleven .section-eleven-container  .section-eleven-item {
    display:flex;
    text-align:center; 
}

.section-eleven .section-eleven-container  .section-eleven-item ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.section-eleven .section-eleven-container  .section-eleven-item ul li {
    padding:10px;
    background-color:var(--color-text-two);
    color: var(--color-four);
    border-radius:51%;
    margin: 0 30px;
}

.section-eleven .section-eleven-container  .section-eleven-item ul li:hover{
    background-color:var(--color-two);
}

.section-eleven .section-eleven-container hr {
    color:var(--color-text-two);
}

.section-eleven .section-eleven-container p{
    color:var(--color-text-two);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}